<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779890012679-faes6ojo28bnd18n8oai8fus3bs910e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779890012679-faes6ojo28bnd18n8oai8fus3bs910e9</string>
	<key>API_KEY</key>
	<string>AIzaSyCEivko_-s_20NXtZJU-C0LgXDVvC1R1a0</string>
	<key>GCM_SENDER_ID</key>
	<string>779890012679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>memorylab.Sleep-Learning</string>
	<key>PROJECT_ID</key>
	<string>top-amplifier-244713</string>
	<key>STORAGE_BUCKET</key>
	<string>top-amplifier-244713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779890012679:ios:32869e58ca9937389a30a2</string>
	<key>DATABASE_URL</key>
	<string>https://top-amplifier-244713.firebaseio.com</string>
</dict>
</plist>